.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: aqua;
    color: maroon;
    margin-top: 10%;
    margin: 10%;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
}

#input{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    justify-content: center;
    font-size: 20px;
    margin: auto;
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-bottom-style: none;
}
button{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    justify-content: center;
    margin: auto;
    border-radius: 15px;
    background-color: white;
    color: maroon;
    font-size: 15px;
    width: 25%;
}